# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/

# IDE/editor config
.vscode/

# private keys
.env
firebase_credentials.json

# Others
.cursor_chats/
.kiro/
Tornado API documentation/
.TODO.txt