# Python cache files
__pycache__/
*.pyc
.vscode/

# Virtual environments, copy over environments manually if required
.win-venv/
.linux-venv/ 

# private keys
.env

# Others
.cursor_chats/
.kiro/
Tornado API documentation/
.TODO.txt

# copy over venv instead
*.zip

tornado_listener.log

database\tornado_mcp.db